.options-title {
    font-family: 'Mansalva', cursive;
    font-size: 32px;
}

.navbar-text {
    font-family: 'Mansalva', cursive;
}

.purple {
    background-color: purple;
}

.purple-text {
    color: purple;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

    background-color: grey;
    border-color: purple;
}
  
.btn {
    background-color: purple;
    border-color: purple;
}